
@{
    ViewBag.Title = "ProductManager";
    Layout = "~/Views/Shared/AdminLayout/LayoutAdmin.cshtml";
}
@Html.Partial("Event_")
<main>
    <div class="cards1">
        <div class="card-single">
            <div>
                <h1>79</h1>
                <span>Products</span>
            </div>
            <div>
                <span class="las la-clipboard-list"></span>
            </div>
        </div>

    </div>

    <div class="recent-grid">
        <div class="projects">
            <div class="card">
                <div class="card-header">
                    <h3>Sản Phẩm</h3>
                    <table>
                        <tr>
                            <td class="card-header-seeall">
                                <button class="detail">@Html.ActionLink("Thêm", "Index", "ProductNew")</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Hình Ảnh</td>
                                    <td>Mã Sản Phẩm </td>
                                    <td>Tên Sản Phẩm</td>
                                    <td>Số Lượng</td>
                                    <td>Giá</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td class="imgsp"> <img src="~/Content/img/sp1.jpg" /></td>
                                    <td><span class="status pink"></span>WS001</td>
                                    <td>Casio AE-1200WHD-1AVDF</td>
                                    <td>101</td>
                                    <td>1.246.000 VNĐ</td>
                                    <td class="fixbutton"><button class="detail">Sửa</button></td>
                                    <td class="fixbutton"><button class="detail">Xóa</button></td>
                                </tr>
                                <tr>
                                    <td class="imgsp"> <img src="~/Content/img/sp1.jpg" /></td>
                                    <td><span class="status pink"></span>WS002</td>
                                    <td>G-Shock GA-400-1BDR</td>
                                    <td>98</td>
                                    <td>4.230.000 VNĐ</td>
                                    <td class="fixbutton"><button class="detail">Sửa</button></td>
                                    <td class="fixbutton"><button class="detail">Xóa</button></td>
                                </tr>
                                <tr>
                                    <td class="imgsp"><img src="~/Content/img/sp2.jpg" /></td>
                                    <td><span class="status pink"></span>WS003</td>
                                    <td>Daniel Wellington DW00100148</td>
                                    <td>72</td>
                                    <td>4.600.000 VNĐ</td>
                                    <td class="fixbutton"><button class="detail">Sửa</button></td>
                                    <td class="fixbutton"><button class="detail">Xóa</button></td>
                                </tr>
                                <tr>
                                    <td class="card-header-seeall">
                                        <button>See all <span class="las la-arrow-right"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

</main>
    </div>


