
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/style.css" rel="stylesheet" />

}


<body>

    <!------ featured products ------>
    <div class="small-container">
        <h2 class="title">Đồng hồ nam bán chạy</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-detail.html"><img src="~/Content/Images/SanPham1.png"></a>
                <a href="product-detail.html"><h4>Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</h4></a>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>1.246.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham2.png">
                <h4>G-Shock GA-400-1BDR – Nam – Quartz (Pin) – Dây Cao Su</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>4.230.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham3.png">
                <h4>Daniel Wellington DW00100148 – Nam – Quartz (Pin) – Dây Vải – Mặt Số 40mm</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>4.600.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham4.png">
                <h4>Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>7.140.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham5.png">
                <h4>Doxa D173TCM – Nam – Kính Sapphire – Automatic (Tự Động) – Dây Kim Loại</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>36.940.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham6.png">
                <h4>Longines L4.759.4.12.2 – Nam – Kính Sapphire – Quartz (Pin) – Dây Da</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>20.900.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham7.png">
                <h4>Orient SUND6002W0 – Nam – Quartz (Pin) – Dây Kim Loại</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>2.810.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham8.png">
                <h4>Tissot T006.407.36.263.00 – Nam – Kính Sapphire – Automatic (Tự Động) – Dây Da</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>18.830.000đ</p>
            </div>
        </div>

        <h2 class="title">Đồng hồ nữ bán chạy</h2>
        <div class="row">
            <div class="col-4">
                <img src="~/Content/Images/SanPham9.png">
                <h4>Daniel Wellington DW00100163 – Nữ – Quartz (Pin) – Dây Kim Loại – Mặt Số 32MM</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>4.100.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham10.png">
                <h4>Daniel Wellington DW00100220 – Nữ – Quartz (Pin) – Dây Kim Loại – Mặt Số 28MM</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>3.700.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham11.png">
                <h4>Doxa D158RWH – Nữ – Kính Sapphire – Quartz (Pin) – Dây Da</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>15.800.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham12.png">
                <h4>
                    Doxa D174SCM – Nữ – Kính Sapphire – Quartz (Pin) – Dây Kim Loại
                    Được xếp hạng
                </h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>16.830.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham13.png">
                <h4>Fossil ES4369 – Nữ – Quartz (Pin) – Dây Da</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>3.210.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham14.png">
                <h4>Saga 53229 SVMWSV-6 – Nữ – Quartz (Pin) – Dây Kim Loại – Mặt Số 24mm</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>6.384.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham15.png">
                <h4>Saga 53555 RGMWRG-2 – Nữ – Quartz (Pin) – Dây Kim Loại – Mặt Số 22.5mm</h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>5.624.000đ</p>
            </div>
            <div class="col-4">
                <img src="~/Content/Images/SanPham16.png">
                <h4>Casio LTP-1274G-7ADF – Nữ – Quartz (Pin) – Dây Kim Loại </h4>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>1.293.000đ</p>
            </div>
        </div>
    </div>

    <!------Offer-->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/DocQuyen.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Phân phối độc quyền bởi WS25</p>
                    <h1>Đồng hồ Stuhrling Original Tourbillon 213T.333X2</h1>
                    <pre>
Chất liệu dây: Dây da cá sấu
Chất liệu mặt:  Sapphire tinh thể                    
Chất liệu vỏ : Thép không gỉ mạ vàng 18K                    
Dòng máy: Cơ cao cấp Tourbillon ( lên cót tay )                    
Đường kính: 44,8 mm                    
Độ dày: 13 mm                    
Độ chịu nước : 5 ATM</pre>
                    <a href="" class="btn">Mua ngay &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!--------testimonial---------->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Đồng hồ giá tốt, nhân viên tư vấn nhiệt tình, chế độ hậu mãi tuyệt vời. Chắc chắn tôi sẽ giới
                        thiệu bạn bè mình đến mua sắm tại WS25
                    </p>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="~/Content/Images/Cus1.png">
                    <h3>Văn Hùng</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Tôi ủng hộ những người đặt lợi ích của khách hàng làm mục tiêu phấn đấu.
                        Vì vậy, tôi đã ủng hộ và lựa chọn WS25.
                    </p>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="~/Content/Images/Cus2.png">
                    <h3>Trịnh Phú</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Anh ấn tượng với đội ngũ nhân viên kỹ thuật ở đây với sự tận tâm, chuyên nghiệp.
                        Anh gửi lời chúc mừng và hi vọng WS25 luôn luôn lớn mạnh
                    </p>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="~/Content/Images/Cus3.png">
                    <h3>Thanh Hoài</h3>
                </div>
            </div>
        </div>
    </div>


    <!--------brand---------->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="~/Content/Images/Brand1.png">
                </div>
                <div class="col-5">
                    <img src="~/Content/Images/Brand2.png">
                </div>
                <div class="col-5">
                    <img src="~/Content/Images/Brand3.png">
                </div>
                <div class="col-5">
                    <img src="~/Content/Images/Brand4.png">
                </div>
                <div class="col-5">
                    <img src="~/Content/Images/Brand5.png">
                </div>
            </div>
        </div>
    </div>




    <!--------js for toggle menu--------->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

</body>

