@{
    ViewBag.Title = "Sản Phẩm Nam";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="small-container">

    <div class="row row-2">
        <h2>Tất cả sản phẩm nam</h2>
        <select>
            <option>Sắp xếp theo giá giảm dần</option>
            <option>Sắp xếp theo giá tăng dần</option>
        </select>
    </div>

    <div class="row">
        <div class="col-4">
            <a href="@Url.Action("ProductDetail","Home")"><img src="~/Content/Images/SanPham1.png"></a>
            <a href="@Url.Action("ProductDetail","Home")"><h4>Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</h4></a>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>1.246.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham2.png">
            <h4>G-Shock GA-400-1BDR – Nam – Quartz (Pin) – Dây Cao Su</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>4.230.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham3.png">
            <h4>Daniel Wellington DW00100148 – Nam – Quartz (Pin) – Dây Vải – Mặt Số 40mm</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>4.600.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham4.png">
            <h4>Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>7.140.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham5.png">
            <h4>Doxa D173TCM – Nam – Kính Sapphire – Automatic (Tự Động) – Dây Kim Loại</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>36.940.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham6.png">
            <h4>Longines L4.759.4.12.2 – Nam – Kính Sapphire – Quartz (Pin) – Dây Da</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>20.900.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham7.png">
            <h4>Orient SUND6002W0 – Nam – Quartz (Pin) – Dây Kim Loại</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>2.810.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Content/Images/SanPham8.png">
            <h4>Tissot T006.407.36.263.00 – Nam – Kính Sapphire – Automatic (Tự Động) – Dây Da</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>18.830.000đ</p>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>
