.bg-footer {
    background-color: black;
    color: white
}

pre {
    color: white;
}

.img-logo {
    background-repeat: no-repeat;
    margin-top: -20px;
    width: 200px;
    height: 200px;
}

.col-3 {
    margin: 20px 0;
}
