
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";

}


    <div class="container">
        <div class="fix-size opacityCard">
            <div class="text-center border-dark">
                <div class="opacityText">
                    <h3 class="text-center mb-3 mt-0">Đăng Nhập</h3>
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Tài Khoản</label>
                                    <div class="col-9">
                                        <input type="text"
                                               class="form-control"
                                               id="inputDangNhap"
                                               placeholder="Nhập tài khoản" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Mật Khẩu</label>
                                    <div class="col-9">
                                        <input type="password"
                                               class="form-control"
                                               id="inputPassword"
                                               placeholder="Nhập mật khẩu" />
                                    </div>
                                </div>
                                <div class="text-form">
                                    <div class="form-check text-left">
                                        <label class="form-check-label">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   name=""
                                                   id="CheckPass" />
                                            Remember Me
                                        </label>
                                    </div>
                                    <div class="form-group text-right">
                                        <a class="m-0" href="#">Quên Mật Khẩu ?</a>
                                    </div>
                                </div>

                                <div class="Sign">
                                    <div class="btn btn-primary rounded-pill">Đăng Nhập</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



