
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/_LayoutPage2.cshtml";
    <link href="~/style.css" rel="stylesheet" />
}

<!-----------------single product details----------->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src=@Url.Content("~/Images/SanPham1.png") width="100%" id="ProductImg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src=@Url.Content("~/Images/SanPham1.png") width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src=@Url.Content("~/Images/SanPham1-1.png") width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src=@Url.Content("~/Images/SanPham1-2.png") width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src=@Url.Content("~/Images/SanPham1-3.png") width="100%" class="small-img">
                </div>
            </div>

        </div>
        <div class="col-2">
            <p>Trang chủ / Đồng hồ nam / Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</p>
            <h1>Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</h1>
            <h4>1.246.000đ</h4>
            <select>
                <option>Chọn màu</option>
                <option>Đen</option>
                <option>Bạc</option>
                <option>Xám</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Thêm vào giỏ</a>
            <h3>Chi tiết sản phẩm <i class="fa fa-indent"></i></h3>
            <br>
            <p>
                Đồng hồ nam Casio AE1200WHD có mặt đồng hồ vuông to với phong cách thể thao,
                mặt số điện tử với những tính năng hiện đại tiện dụng, kết hợp với dây đeo
                bằng kim loại đem lại vẻ mạnh mẽ cá tính dành cho phái nam.
            </p>
        </div>
    </div>
</div>
<!--------testimonial---------->
<div class="testimonial">
    <div class="small-container">
        <h1>Đánh giá</h1>
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Đồng hồ giá tốt, nhân viên tư vấn nhiệt tình, chế độ hậu mãi tuyệt vời. Chắc chắn tôi sẽ giới
                    thiệu bạn bè mình đến mua sắm tại WS25
                </p>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="~/Images/Cus1.png">
                <h3>Văn Hùng</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Tôi ủng hộ những người đặt lợi ích của khách hàng làm mục tiêu phấn đấu.
                    Vì vậy, tôi đã ủng hộ và lựa chọn WS25.
                </p>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="~/Images/Cus2.png">
                <h3>Trịnh Phú</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Anh ấn tượng với đội ngũ nhân viên kỹ thuật ở đây với sự tận tâm, chuyên nghiệp.
                    Anh gửi lời chúc mừng và hi vọng WS25 luôn luôn lớn mạnh
                </p>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="~/Images/Cus3.png">
                <h3>Thanh Hoài</h3>
            </div>
        </div>
    </div>
</div>
<!----------title-------------->
<div class="small-container">
    <div class="row row-2">
        <h2>Sản phẩm liên quan</h2>
        <p>Xem thêm</p>
    </div>
</div>
<!----------product-------------->
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <img src="~/Images/SanPham2.png">
            <h4>G-Shock GA-400-1BDR – Nam – Quartz (Pin) – Dây Cao Su</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>4.230.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Images/SanPham3.png">
            <h4>Daniel Wellington DW00100148 – Nam – Quartz (Pin) – Dây Vải – Mặt Số 40mm</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>4.600.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Images/SanPham4.png">
            <h4>Casio AE-1200WHD-1AVDF – Nam – Kính Nhựa – Quartz (Pin) – Dây Kim Loại</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>7.140.000đ</p>
        </div>
        <div class="col-4">
            <img src="~/Images/SanPham5.png">
            <h4>Doxa D173TCM – Nam – Kính Sapphire – Automatic (Tự Động) – Dây Kim Loại</h4>
            <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>36.940.000đ</p>
        </div>

    </div>

</div>

