<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search here" />
        </div>
        <div class="user-wrapper">
            <img src="~/Content/img/2.jpg" width="30px" height="30px" alt="">
            <div>
                <h4>Team 01</h4>
                <small>Super Admin</small>
            </div>
        </div>
    </header>

